body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Roboto', sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: none;
}
.header-address {
  display: none;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}
.header-logo-span {
  color: #2e2f42;
}
.header-span-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 120px;
  }
  .header-address {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-list-item {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list-item:hover {
    color: #404bbf;
  }
  .header-list-item:focus {
    color: #404bbf;
  }
  .header-list-item:active {
    color: #404bbf;
    text-decoration: underline;
  }
  .current {
    color: #404bbf;
  }
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
  .header-address-list-item:hover {
    color: #404bbf;
  }
  .header-address-list-item:focus {
    color: #404bbf;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .header-address-list-item {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .header-address-list-item {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
/* #region Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, opacity;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-navigation {
  margin-bottom: auto;
}
.mobile-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 0;
  line-height: 0;
  background-color: transparent;
  fill: #2e2f42;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-navigation-list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-navigation-list-item:first-child {
  color: #404bbf;
}
.mobile-menu-address {
  margin-bottom: 48px;
}
.mobile-menu-address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mobile-menu-address-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-address-item:first-child {
  color: #404bbf;
}
.mobile-menu-social {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}
.mobile-list-svg-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.mobile-menu-svg {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion Mobile menu*/

/* #region Hero */
.head-one-sect {
  background: #2e2f42;
  padding: 72px 0px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.head-button {
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .head-one-sect {
    padding: 112px 0px;
  }
}
@media screen and (min-width: 1158px) {
  h1 {
    margin-bottom: 48px;
  }
  .head-one-sect {
    max-width: 1440px;
    padding: 188px 0;
  }
  .head-button:hover {
    background: #404bbf;
  }
  .head-button:focus {
    background-color: #404bbf;
  }
}
/* #endregion Hero */

/* #region Features */
.features-sect {
  padding: 96px 0;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.icon-svg-container {
  display: none;
}
.features-list-item-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-list-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-list-item-heading {
    text-align: start;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .features-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .features-sect {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .icon-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .features-list-item-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
  .features-list-item-text {
    font-weight: 400;
  }
}

/* #endregion Features */

/* #region Team */

.team-sect {
  padding: 96px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.team-list-item {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-list-text-container {
  padding: 32px 0;
}
.team-list-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-list-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list-svg-item {
  width: 40px;
  height: 40px;
}
.team-list-svg-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg-team {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-sect {
    padding: 120px 0;
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list-svg-link:hover,
  .team-list-svg-link:focus {
    background-color: #404bbf;
  }
  .icon-svg-team {
    fill: #f4f4fd;
  }
}

/* #endregion Team */

/* #region Portfoilio */

.portfolio-sect {
  padding: 96px 0;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 100%;
}
.portfolio-list-img-container {
}
.portfolio-list-img {
  width: 100%;
  height: 100%;
}
.overlay {
  display: none;
}
.portfolio-list-text-container {
  padding: 32px 16px;
}
.portfolio-list-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
